	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 0.01px;
  text-decoration: none;
}
meta{
	<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Football Tips</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>
}

nav img {
  display: caption-side;
  vertical-align: middle;
  margin-right: 0.01px;
		
	}

	nav ul li {
		display: inline-block;
	}

	nav ul li a {
		display: block;
		padding: 0.01px;
		color: pink;
		text-decoration: none;
	}
	

	nav ul li a:hover {
		background-color: grey;
		
		
	}

	img {
		max-width: 100%;
		height: auto;
	}
.un{
	background-color: light-green;
	text-align: center;
	list-style-type:none;
	display: flex;
    align-items: center;
	justify-content: space-between;
    padding-top:5px;
	padding-bottom:5px;
    padding-left:2px;
    padding-right: 8%;

}
.un li{
	display: inline-block;
	padding:20px;
}
.un  li a{
    color:white;
	font-size: 18px;
    text-decoration:blink;
    font-weight:bold;
    text-transform: capitalize;
}
.un  li a:hover{
    color: #f9004d;
    transition: .10s;
}

  body {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyh_7CrjthNo1G1bSgDHNhbvNn1MOG0LeWoA&usqp=CAU.jpg"); /* Set the URL of the background image */
			background-size: 100% auto; /* Scale the image to cover the entire background area */
			background-position: center; /* Center the image within the background area */
			background-repeat: no-repeat; /* Prevent the image from repeating */
		}
	</style>		}


